---
---

@import "{{ site.theme }}";

body {
    background-color: #000000;
    color: #ffffff;
}

.page-header {
    color: #ffffff;
    text-align: center;
}

a.disabled {
    pointer-events: none;
}
