---
---

@import "{{ site.theme }}";

body {
    background-color: #000000;
    color: #ffffff;
}

.page-header {
    color: #ffffff;
    text-align: center;
}

.main-content {
    color: #ffffff;
}

a {
    color: #ffffff;
    .disabled {
        pointer-events: none;
    }
}
