---
---

@import "{{ site.theme }}";

body {
    background-color: #000000;
    color: #ffffff;
}

.page-header {
    color: #ffffff;
    text-align: center;
}

.main-content {
    color: #ffffff;
}

a.disabled {
    pointer-events: none;
}

:root {
    --font-family-title: "Space Mono", monospace, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-body: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
